<?xml version="1.0" encoding="UTF-8"?>

<Installer>
<Name>Tickle</Name>
<Version>1.0.0</Version>
<Title>Tickle-Installer</Title>
<Publisher>RSoft</Publisher>
<InstallerWindowIcon>TicLogo</InstallerWindowIcon>
<InstallerApplicationIcon>TicLogo</InstallerApplicationIcon>
<Logo>TicLogo</Logo>
<WizardStyle>Mac</WizardStyle>
<Background>Bg</Background>
<StartMenuDir>RNote</StartMenuDir>
<TargetDir>@HomeDir@/RSoft/Tickle</TargetDir>
</Installer>